#App
app/frontend/library/fonts/vendor
app/frontend/library/scripts/vendor
app/frontend/library/styles/vendor

#Bower
bower_components

#MISC
app.yaml

#Node
node_modules

#Test and Distribution
dist
.tmp
